/*****************************************************************ESTILO GENERAL"********************************************************************/

html, body{
		height:100%;
		width:100%;
		/*background-color:black;*/
		padding:0px; margin:0px;
		background-image:url(imgFondo/fondo.png); /* Codigo de color de fondo #04c975 */
        background-size: 100% 100%;
	}
	 /*Estilo Css #1.*/
    .style-container-button3{
		float:left;
	    display:table;
		width:15%; 
		height:4%;
		margin-left:12px;
        margin-right:12px;	
	}
	/*Estilo Css #2.*/
	.style-label1{
	    display:table-cell;
		font-family:verdana;
		font-size:12px;
		color:black;
		text-align: left;
		background-color:transparent;
		vertical-align: middle;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
		-webkit-text-size-adjust: none; 
		-webkit-highlight: none;
		outline-style:none;		
	}
	/*Estilo Css #3.*/
	.style-container-screen{
		float:left;
		width:100%; 
		height:2%;
		background-color:transparent;
	}
	/*Estilo Css #4.*/
	.style-container-button4{
		float:left;
	    display:table;
		width:20%; 
		height:4%;
		margin-left:2.45%;
		margin-right:2.45%;
		box-sizing:border-box;
	}
	/*Estilo Css #5.*/
	.style-label3{
		visibility:hidden;
		font:oblique 60% cursive;
		color:white;
		text-align: center;
		background-color:#3d3d3d;
		box-sizing:border-box;	
		vertical-align: middle;
	    display:table-cell;	
	}
	/*Estilo Css #6.*/
	.style-label4{
		visibility:hidden;
	    display:table-cell; 
		font:oblique 60% cursive;
		color:white;
		text-align: center;
		background-color:#3d3d3d;
		box-sizing:border-box;	
		vertical-align: middle;
	}
	/*Estilo Css #7.*/
	.style-label5{
		visibility:hidden;
	    display:table-cell; 
		font:oblique 60% cursive;
		color:white;
		text-align: center;
		background-color:#3d3d3d;
		box-sizing:border-box;	
		vertical-align: middle;
	}
	/*Estilo Css #8.*/
	.style-label6{
		visibility:hidden;
	    display:table-cell; 
		font:oblique 60% cursive;
		color:white;
		text-align: center;
		background-color:#3d3d3d;
		box-sizing:border-box;	
		vertical-align: middle;
	}
	/*Estilo Css #9.*/
	.style-container-screen1{
		float:left;
		width:100%;
		height:3.5%;
		text-align:right;
		font-family:verdana;
		font-size:13px;
		color:black;
		background-color:e6e6e6;
	}
	/*Estilo Css #10.*/
	.style-container-screen2{
		float:left;
		width:100%; 
		height:1%;
		background-color:white;
	}
	/*Estilo Css #11.*/
	.style-container-screen3{
		float:left;
		width:100%; 
		height:6%;
		background-color:#e6e6e6;
	}
	/*Estilo Css #12.*/
	.style-label10{
		background-color:#e6e6e6;
		white-space:nowrap;
		overflow:hidden;
		font-family:verdana;
		font-size:18px;
		color:black;
		letter-spacing: 1px;
		box-sizing:border-box;
	}
	/*Estilo Css #13.*/
	.style-section{
		float:left;
		width:100%;
		height:12.5%;
		background-color:#e6e6e6; 
		text-indent:-1000px;
		white-space:nowrap;
		overflow:hidden;
        font-family:verdana;
		font-size:28px;
		color:black;
		text-align: right;
		letter-spacing: 1px;
        -webkit-tap-highlight-color:rgba(0,0,0,0);		
	}
	/*Estilo Css #13.*/
	.style-section:focus{
		 border:none;
	     outline:none;
	
	}
	/*Estilo Css #14.*/
	.style-container-button1{
	    float:left;
		display:table;
		width:100%; 
		height:6%;
	}
	/*Estilo Css #15.*/
	.style-label7{
		visibility:hidden;
	    display:table-cell;
		width:60%;
		font:oblique 90% cursive;
		color:white;
		text-align: center;
	    border:1.5px solid black;
		background-color:#3d3d3d;
		box-sizing:border-box;
		vertical-align: middle;
		
	}
	/*Estilo Css #16.*/
	.style-label8{
		visibility:hidden;
	    display:table-cell;
		width:20%;
		font:oblique 90% cursive;
		color:white;
		text-align: center;
		background-image:url(imgBoton/boton.png);
        background-size: 100% 100%;
		border:3px solid black;
		/*background-color:#3d3d3d;*/
		box-sizing:border-box;
		vertical-align: middle;
		border-radius: 20% 20% 20% 20%;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
		-webkit-text-size-adjust: none; 
		-webkit-highlight: none;
		outline-style:none;
	}
	
	/*Estilo Css #17.*/
	.style-label9{
		visibility:hidden;
	    display:table-cell;
		width:20%;
		font:oblique 90% cursive;
		color:white;
		text-align: center;
		background-image:url(imgBoton/boton.png);
        background-size: 100% 100%;
		border:3px solid black;
		/*background-color:#3d3d3d;*/
		box-sizing:border-box;
		vertical-align: middle;
		border-radius: 20% 20% 20% 20%;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
		-webkit-text-size-adjust: none; 
		-webkit-highlight: none;
		outline-style:none;
	}

/******************************************************************CALCULADORA#1 "Calculator-Standard"********************************************************************/
    
	/*Estilo Css #18.*/
	.style-container-button{
	    float:left;
		display:table;
		width:20%; 
		height:12.2%;
		border-collapse:separate;
		border-spacing:8px;
	}
	/*Estilo Css #19.*/
	.style-label{
	    display:table-cell;
		font-family:arial;
		font-size:26px;
		color:black;
		text-align: center;
		background-color:white;
        background-size: 100% 100%;               
		vertical-align: middle;
		border-radius: 20% 20% 20% 20%;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
		-webkit-text-size-adjust: none; 
		-webkit-highlight: none;
		outline-style:none;
	}

	/*Estilo Css #20.*/
	.style-container-button2{
	    float:left;
		display:table;
		width:40%; 
		height:12.2%;
        border-collapse:separate;
		border-spacing:8px;		
	}
		
	/*****************************************************************CALCULADORA#2 "Calculator-Scientific"********************************************************************/
	
	/*Estilo Css #21.*/	
	.style-container-button5{
	    float:left;
		display:table;
		width:11%;
		height:12.2%;
		border-collapse:separate;
		border-spacing:3px;
	}
	/*Estilo Css #22.*/
	.style-label11{
	    display:table-cell;
		font-family:arial;
		font-size:13px;
		color:black;
		text-align: center;
		background-color:white;
        background-size: 100% 100%;
		vertical-align: middle;
		border-radius: 20% 20% 20% 20%;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
		-webkit-text-size-adjust: none; 
		-webkit-highlight: none;
		outline-style:none;
	}
	/*Estilo Css #23.*/
	.style-container-button6{
	    float:left;
		display:table;
		width:1%;
		height:12.2%;
	}
	/*Estilo Css #24.*/
	.style-container-screen4{	
		display:table-cell;
	    height:12.2%;
	}
	/*Estilo Css #25.*/
	.style-container-button7{
	    float:left;
		display:table;
		width:22%;
		height:12.2%;
		border-collapse:separate;
		border-spacing:3px;	
	}
	
	